<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <nav class="navbar navbar">
        <div class="container">
            <div class="navbar-header"
                style="font-family: 'Dancing Script', cursive; text-decoration: none; font-weight: bold;">
                <a href="https://www.reddit.com/"><img src="https://img.icons8.com/ios-filled/50/fa314a/reddit--v1.png"/></a>
                <p style="font-size: 25px;" class="navbar-brand" href="/">Reddit</p>

            </div>
            <!-- Adding a search form  -->
            <br>
            <div class="col-sm- col-md-8 navbar-center" style="text-align:center;">
                <form class="form-inline" action="/">
                    <div class="md-form my-0">
                        <input class="form-control mr-sm-5" type="text" placeholder="&#xF002; Search"
                            name="search_insta_user" aria-label="Search">
                        <button class="btn btn-default" type="submit"><i
                                class="glyphicon glyphicon-search"></i></button>
                    </div>
                </form>
            </div>
            <!-- search form end -->
        <div>
            <a href="login/"> <span  class="badge badge-pill badge-outline default">
                <h6>Login</h6>
            </span></a>
            <a href="/register"></a><span  class="badge badge-pill badge-primary">
                <h6>Sign Up</h6>
            </span></a>
        </div>
        </div>

    </nav>

</body>

</html>