<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  {% extends 'base.html'%}
  {%load bootstrap4%}
  {% block content %}
  <div class="container" style="padding-left: 150px;padding-top: 100px;">
    <h1>New Post</h1>

    {% if error %}
    {{ error }}
    <br><br>
    {% endif %}

    <form method="POST" action="{% url 'create' %}">
      {% csrf_token %}
      <div class="form-group">
        <label>Title</label>
        <input type="text" class="form-control" name="title" placeholder="Enter your reddit title">
      </div>
      <div class="form-group">
        <label>Url link</label>
        <input type="text" class="form-control" name="url" placeholder="input the url here....">
      </div>
      <input class="btn btn-info" type="submit" value="Post">
    </form>
    {% endblock %}
  </div>
</body>

</html>